body {
  background: url("https://images.all-free-download.com/images/graphiclarge/weather_background_cute_stylized_icons_decor_6835599.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
